@font-face {
	font-family: 'bold';
	src: url('../fonts/open_sans_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/open_sans_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/open_sans_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/open_sans_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/open_sans_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/open_sans_bold.svg#open_sans_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'semibold';
	src: url('../fonts/open_sans_semibold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/open_sans_semibold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/open_sans_semibold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/open_sans_semibold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/open_sans_semibold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/open_sans_semibold.svg#open_sans_semibold') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'sans_italic';
	src: url('../fonts/open_sans_italic.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/open_sans_italic.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/open_sans_italic.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/open_sans_italic.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/open_sans_italic.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/open_sans_italic.svg#open_sans_italic') format('svg'); /* Chrome < 4, Legacy iOS */
}
@font-face {
	font-family: 'sans';
	src: url('../fonts/open_sans.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/open_sans.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/open_sans.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/open_sans.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/open_sans.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/open_sans.svg#open_sans') format('svg'); /* Chrome < 4, Legacy iOS */
}